{% extends "base.html.twig" %}
{% block title %}Notre formulaire{% endblock %}
{% block body %}
<div class="d-flex flex-column">
<input type ="text" class="form-control p-1">
<input type ="text">
<input type ="number">
<button type="submit" class="btn btn-primary" >valider</button>
</div>
{% endblock %}